<header class="p-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="logo-container d-flex align-items-center justify-content-center text-decoration-none"
                style="height: 25px;">
                <img class="bi me-2" width="32" height="32" role="img" src="icons/mountain-icon-50.png" alt="Logo">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto ms-1 mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 me-3" style="color: rgb(255, 0, 255); font-weight: 600;">Strava
                        Visualizer</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Activities</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Map</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Training Log</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Progress</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-dark">Home</button>
            </div>
        </div>
    </div>
    <hr class="mb-0">
</header>

<div class="d-flex">
    <!-- Activities List -->
    <div class="col-5 activities-list-container">
        <!-- Filter + Search -->
        <div class="filter-items d-flex p-2 align-items-center justify-content-between">
            <button type="button" class="btn btn-dark p-2">
                Sort
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-sort-down me-1" viewBox="0 0 16 16">
                    <path
                        d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z">
                    </path>
                </svg>
            </button>
            <button class="btn btn-dark d-flex align-items-center justify-content-between px-3 me-2 filter-button"
                data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="displayFilter()">
                <img src="icons/filter-icon.png" alt="Filter Icon" class="filter-icon me-2">
                Filter
            </button>
        </div>
        <!-- Activities list -->
        <div class="list-content">
            <ol class="list-group">
                <li *ngFor="let activity of displayedActivities; let i = index"
                    class="list-group-item d-flex justify-content-between align-items-center"
                    [class.expanded]="expandedActivityIndex === i" (click)="toggleActivity(i)">
                    <div class="ms-1 d-flex">
                        <div style="width: 30px; margin-right: 10px;">
                            <img *ngIf="activity.tags.includes('favorite')" src="icons/filled-star-icon.png" alt="filled-star-icon"
                                class="list-filled-star-icon">
                        </div>
                        <div class="title-and-date ms-1">
                            <div class="fw-bold activity-title">{{ activity.title }}</div>
                            <div class="activity-date text-muted">
                                {{ activity.date | date: 'MMMM d, yyyy \'at\' h:mm a' }}
                            </div>
                        </div>
                    </div>
                    <div class="distance-box" [style.backgroundColor]="getColorForDistance(activity.distance)">
                        {{ activity.distance / 1000 | number:'1.1-1' }} km
                    </div>
                </li>
            </ol>
        </div>

        <!-- Click to see next page -->
        <div class="activity-footer">
            <button (click)="previousPage()" *ngIf="currentPage > 1" class="previous-page-button">&#60;</button>
            <button *ngIf="currentPage === 1" class="placeholder-page-button"
                style="display: hidden; cursor: default;">&#60;</button>
            <p class="text-muted mb-0">{{ (currentPage - 1) * activitiesPerPage + 1 }} - {{ getEndIndex() }} of {{
                filteredActivities.length }}</p>
            <button (click)="nextPage()" *ngIf="filteredActivities.length > currentPage * activitiesPerPage"
                class="next-page-button">&#62;</button>
        </div>
    </div>

    <!-- Map -->
    <div class="col map-and-info-container pe-4">
        <div *ngIf="expandedActivity == null  || expandedActivity.images != []" class="map-container">

            <div id="map"></div>


        </div>
        <div *ngIf="expandedActivityIndex !== null && expandedActivity !== null" class="info-container">
            <div class="d-flex">
                <div class="col-7 metric-grid">
                    <div class="title-and-favorite-icon d-flex justify-content-between">
                        <h2 class="metrics-label mb-3">{{expandedActivity.title}}</h2>
                        <button *ngIf="expandedActivity.tags.includes('favorite')" class="favorite-button"
                            (click)="toggleTag('favorite')"><img src="/icons/filled-star-icon.png" class="star-icon-metrics"
                                alt="favorite-icon"></button>
                        <button *ngIf="!expandedActivity.tags.includes('favorite')" class="favorite-button"
                            (click)="toggleTag('favorite')"><img src="/icons/empty-star-icon.png" class="star-icon-metrics"
                                alt="favorite-icon"></button>
                    </div>
                    <div class="d-flex justify-content-between metric-row">
                        <div class="metric-column">
                            <div class="distance-metric-container">
                                <small class="text-muted">Total Distance</small>
                                <h2 class="metric-value distance">{{ expandedActivity.distance / 1000 | number:'1.1-1'
                                    }}<small class="unit text-muted">km</small></h2>
                                <small class="metric-ranking text-muted distance">10/999</small>
                            </div>
                            <hr>
                            <div class="elevation-metric-container">
                                <small class="text-muted">Elevation</small>
                                <h2 class="metric-value elevation" *ngIf="expandedActivity.elevation === null">N/A</h2>
                                <h2 class="metric-value elevation" *ngIf="expandedActivity.elevation !== null">
                                    {{expandedActivity.elevation}}<small class="unit text-muted">m</small></h2>
                                <small class="metric-ranking text-muted elevation">10/999</small>
                            </div>
                        </div>
                        <div class="metric-column">
                            <div class="heartrate-metric-container">
                                <small class="text-muted">Avg Heart Rate</small>
                                <div class="div" *ngIf="expandedActivity.avgHeartRate != null">
                                    <h2 class="metric-value heartrate">{{expandedActivity.avgHeartRate}}<small
                                            class="unit text-muted">bpm</small></h2>
                                    <small class="metric-ranking text-muted heartrate">Max:
                                        {{expandedActivity.maxHeartRate}} bpm</small>
                                </div>
                                <div class="div" *ngIf="expandedActivity.avgHeartRate == null">
                                    <h2 class="metric-value heartrate">N/A</h2>
                                    <small class="metric-ranking text-muted heartrate">Max: N/A</small>
                                </div>
                            </div>
                            <hr>
                            <div class="strain-metric-container">
                                <small class="text-muted">Strain</small>
                                <h2 class="metric-value strain">130<small class="unit text-muted">tss</small></h2>
                                <small class="metric-ranking text-muted strain">10/999</small>
                            </div>
                        </div>
                        <div class="metric-column">
                            <div class="duration-metric-container">
                                <small class="text-muted">Moving Time</small>
                                <h2 class="metric-value duration">{{expandedActivity.duration | duration}}</h2>

                                <small class="metric-ranking text-muted duration">Resting: {{expandedActivity.restTime /
                                    60 | number: '1.0-0'}}m {{expandedActivity.restTime % 60 | number:
                                    '1.0-0'}}s</small>
                            </div>
                            <hr>
                            <div class="speed-metric-container">
                                <small class="text-muted">Avg Speed</small>
                                <h2 class="metric-value distance">{{expandedActivity.avgSpeed * 3.6 | number:
                                    '1.1-1'}}<small class="unit text-muted">km/hr</small></h2>
                                <small class="metric-ranking text-muted speed">Max: {{expandedActivity.maxSpeed * 3.6 |
                                    number: '1.1-1'}}km/hr</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vr mx-3"></div>
                <div class="col notes-section">
                    <div class="d-flex justify-content-between">
                        <h2 class="notes-label">Notes </h2>
                        <button *ngIf="!editingNote"
                            class="edit-note-button btn btn-secondary d-flex align-items-center me-3" type="button"
                            (click)="startEditing(noteContent)">
                            Edit
                            <img src="/icons/edit-icon.png" alt="Edit Icon" class="edit-icon ms-2">
                        </button>
                        <button *ngIf="editingNote"
                            class="edit-note-button btn btn-secondary d-flex align-items-center me-3" type="button"
                            (click)="cancelEditing(noteContent)">
                            <img src="icons/cancel-icon.png" alt="Cancel Icon" class="edit-icon ms-0 me-2">
                            Cancel
                        </button>
                    </div>

                    <p #noteContent class="notes-content" [innerHTML]="editableNotes" id="noteContent"></p>

                    <button *ngIf="editingNote" class="edit-note-button btn btn-secondary d-flex align-items-center"
                        type="button" (click)="saveEditing(noteContent)">
                        <img src="icons/save-icon.png" alt="Save Icon" class="edit-icon ms-0 me-2">
                        Save
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="expandedActivityIndex === null" class="info-container">
            <div class="d-flex">
                <div class="col-7 metric-grid">
                    <h2 class="metrics-label mb-3">Select Activity to Display</h2>
                    <div class="d-flex justify-content-between metric-row">
                        <div>
                            <div class="distance-metric-container">
                                <small class="text-muted">Total Distance</small>
                                <h2 class="metric-value distance">N/A</h2>
                                <small class="metric-ranking text-muted distance">10/999</small>
                            </div>
                            <hr>
                            <div class="elevation-metric-container">
                                <small class="text-muted">Elevation</small>
                                <h2 class="metric-value elevation">N/A</h2>
                                <small class="metric-ranking text-muted elevation">10/999</small>
                            </div>
                        </div>
                        <div>
                            <div class="heartrate-metric-container">
                                <small class="text-muted">Avg Heart Rate</small>
                                <h2 class="metric-value heartrate">130<small class="unit text-muted">bpm</small></h2>
                                <small class="metric-ranking text-muted heartrate">Max: 175bpm</small>
                            </div>
                            <hr>
                            <div class="strain-metric-container">
                                <small class="text-muted">Strain</small>
                                <h2 class="metric-value strain">130<small class="unit text-muted">tss</small></h2>
                                <small class="metric-ranking text-muted strain">10/999</small>
                            </div>
                        </div>
                        <div>
                            <div class="duration-metric-container">
                                <small class="text-muted">Duration</small>
                                <h2 class="metric-value distance">1:20:12</h2>
                                <small class="metric-ranking text-muted distance">10/999</small>
                            </div>
                            <hr>
                            <div class="speed-metric-container">
                                <small class="text-muted">Avg Speed</small>
                                <h2 class="metric-value distance">51<small class="unit ">km/hr</small></h2>
                                <small class="metric-ranking text-muted speed">Max: 600km/hr</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vr mx-3"></div>
                <div class="col notes-container">
                    <h2 class="notes-label">Notes </h2>
                    <p>Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum,
                        Lorem
                        Ipsum</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Activities</h1>
                <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>


            <div class="modal-body">
                <div class="distance-filter-field">
                    <div class="filter-field-header d-flex justify-content-between">
                        <div class="filter-field-title">
                            Distance
                        </div>
                        <div class="form-check distance-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="tempDistanceChecked"
                                id="flexCheckDefaultDistance" />
                        </div>
                    </div>
                    <div class="filter-field-distance-content">
                        <div class="distance-slider mt-2 mb-5" *ngIf="isBrowser">
                            <ngx-slider [(value)]="minDistanceValue" [(highValue)]="maxDistanceValue"
                                [options]="distanceOptions">
                            </ngx-slider>
                            <div class="slider-values d-flex justify-content-between">
                                <label>
                                    Min: &nbsp;
                                    <input type="number" [(ngModel)]="minDistanceValue"
                                        [min]="distanceOptions.floor || 0" [max]="maxDistanceValue || 400" />
                                </label>
                                <label>
                                    Max: &nbsp;
                                    <input type="number" [(ngModel)]="maxDistanceValue" [min]="minDistanceValue"
                                        [max]="distanceOptions.ceil || 400" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-2">
                <div class="elevation-filter-field">
                    <div class="filter-field-header d-flex justify-content-between">
                        <div class="filter-field-title">
                            Elevation
                        </div>
                        <div class="form-check elevation-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="tempElevationChecked"
                                id="flexCheckDefaultElevation" />
                        </div>
                    </div>
                    <div class="filter-field-elevation-content">
                        <div class="elevation-slider" *ngIf="isBrowser">
                            <ngx-slider [(value)]="minElevationValue" [(highValue)]="maxElevationValue"
                                [options]="elevationOptions">
                            </ngx-slider>
                            <div class="slider-values d-flex justify-content-between align-items-center mt-2">
                                <label>
                                    Min: &nbsp;
                                    <input type="number" [(ngModel)]="minElevationValue"
                                        [min]="elevationOptions.floor || 0" [max]="maxElevationValue || 4000" />
                                </label>
                                <label>
                                    Max: &nbsp;
                                    <input type="number" [(ngModel)]="maxElevationValue" [min]="minElevationValue"
                                        [max]="elevationOptions.ceil || 9999" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-2">
                <div class="Hr-filter-field">
                    <div class="filter-field-header d-flex justify-content-between">
                        <div class="filter-field-title">
                            Average Heart Rate
                        </div>
                        <input class="form-check-input" type="checkbox" [(ngModel)]="tempHrChecked"
                            id="flexCheckDefaultHr" />
                    </div>
                    <div class="filter-field-hr-content">
                        <div class="hr-slider" *ngIf="isBrowser">
                            <ngx-slider [(value)]="minHrValue" [(highValue)]="maxHrValue" [options]="hrOptions">
                            </ngx-slider>
                            <div class="slider-values d-flex justify-content-between align-items-center mt-2">
                                <label>
                                    Min: &nbsp;
                                    <input type="number" [(ngModel)]="minHrValue" [min]="hrOptions.floor || 90"
                                        [max]="maxHrValue || 4000" />
                                </label>
                                <label>
                                    Max: &nbsp;
                                    <input type="number" [(ngModel)]="maxHrValue" [min]="minHrValue"
                                        [max]="hrOptions.ceil || 4000" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-2">
                <div class="favorites-and-date d-flex justify-content-between">
                    <div class="date-filter-field col-5">
                        <div class="filter-field-title">
                            Dates
                        </div>
                        <div class="filter-field-date-content">
                            <div class="form-check">
                                <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" id="allTime"
                                    value="allTime" checked>
                                <label class="form-check-label ms-3" for="allTime">
                                    All time
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" id="oneYear"
                                    value="1year">
                                <label class="form-check-label ms-3" for="oneYear">
                                    1 year
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" id="sixMonths"
                                    value="6months">
                                <label class="form-check-label ms-3" for="sixMonths">
                                    6 months
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" id="oneMonth"
                                    value="1month">
                                <label class="form-check-label ms-3" for="oneMonth">
                                    1 month
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ms-1" type="radio" name="flexRadioDefault" id="oneWeek"
                                    value="1week">
                                <label class="form-check-label ms-3" for="oneWeek">
                                    1 week
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="vr me-1"></div>
                    <div class="tags-filter-field col-6">
                        <div class="filter-field-title">
                            Tags
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="favorites" value="favorites" [(ngModel)]="tempFavoritesChecked">
                            <label class="form-check-label ms-3" for="favorites">
                                <span style="color: rgb(255, 145, 255);">★</span> Favorites
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="climb" value="climb" [(ngModel)]="tempClimbChecked">
                            <label class="form-check-label ms-3" for="climb">
                              🏔️ Climb
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="scenic" value="scenic" [(ngModel)]="tempScenicChecked">
                            <label class="form-check-label ms-3" for="scenic">
                              🌄 Scenic
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="challenging" value="challenging" [(ngModel)]="tempChallengingChecked">
                            <label class="form-check-label ms-3" for="challenging">
                              💪 Challenging
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="workout" value="workout" [(ngModel)]="tempWorkoutChecked">
                            <label class="form-check-label ms-3" for="workout">
                              💧 Workout
                            </label>
                          </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer p-2">
                <button #closeBtn type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-changes-button" (click)="applyFilter()">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>