<header class="p-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a routerLink="/"
                class="logo-container d-flex align-items-center justify-content-center text-decoration-none"
                style="height: 25px;">
                <img class="bi me-2" width="32" height="32" role="img" src="icons/mountain-icon-50.png" alt="Logo">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto ms-1 mb-2 justify-content-center mb-md-0">
                <li><a routerLink="#" class="nav-link px-2 me-3"
                        style="color: rgb(255, 0, 255); font-weight: 600;">Strava
                        Visualizer</a></li>
                <li><a routerLink="/activities" class="nav-link px-2 text-secondary">Activities</a></li>
                <li><a routerLink="#" class="nav-link px-2 text-black">Map</a></li>
                <li><a routerLink="#" class="nav-link px-2 text-black">Training Log</a></li>
                <li><a routerLink="/progress" class="nav-link px-2 text-black">Progress</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-dark">Home</button>
            </div>
        </div>
    </div>
    <hr class="mb-0">
</header>


<button (click)="displayNewGoalForm()">Create New Goal</button>
<button (click)="getAllGoals()">Get all goals</button>
<button (click)="getActiveGoals()">Get active goals</button>

<div class="new-goal-form" *ngIf="newGoalSectionDisplayed">
    <div class="d-flex justify-content-between new-goal-section metric-and-date">
        <div class="newGoal-metric">
            <button type="button" class="btn btn-dark dropdown-toggle p-2" id="sortMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{newGoalMetricLabel}}
            </button>
            <div class="dropdown-menu" aria-labelledby="metricButton">
                <a class="dropdown-item" [ngClass]="{'active-metric': newGoalMetric === 'Elevation'}"
                    (click)="setNewGoalMetric('Elevation')">Date</a>
                <a class="dropdown-item" [ngClass]="{'active-metric': newGoalMetric === 'Distance'}"
                    (click)="setNewGoalMetric('Distance')">Distance</a>
            </div>
        </div>
        <div class="newGoal-date">
            <button type="button" class="btn btn-dark dropdown-toggle p-2" id="sortMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{newGoalDateLabel}}
            </button>
            <div class="dropdown-menu" aria-labelledby="metricButton">
                <a class="dropdown-item" [ngClass]="{'active-date': newGoalDate === '1 Week'}"
                    (click)="setNewGoalDate('1 Week')">1 Week</a>
                <a class="dropdown-item" [ngClass]="{'active-date': newGoalDate === '2 Week'}"
                    (click)="setNewGoalDate('2 Weeks')">2 Week</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [ngClass]="{'active-date': newGoalDate === '1 Month'}"
                    (click)="setNewGoalDate('1 Month')">1 Month</a>
                <a class="dropdown-item" [ngClass]="{'active-date': newGoalDate === '3 Month'}"
                    (click)="setNewGoalDate('3 Months')">3 Month</a>
                <a class="dropdown-item" [ngClass]="{'active-date': newGoalDate === '6 Month'}"
                    (click)="setNewGoalDate('6 Months')">6 Month</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [ngClass]="{'active-date': newGoalDate === '1 Year'}"
                    (click)="setNewGoalDate('1 Year')">1 Year</a>
                <a class="dropdown-item" [ngClass]="{'active-date': newGoalDate === '3 Year'}"
                    (click)="setNewGoalDate('1 Year')">3 Year</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="new-goal-section target-value">

    </div>
</div>
<!--CONTENT-->
<div class="d-flex main-content">
    <!-- Goal-list -->
    <div class="goal-list col-7 ms-3 me-0">
        <h1 class="goal-list-title">
            Active Goals
        </h1>
        <hr class="mt-0">
        <li *ngFor="let goal of activeGoals; let i = index" class="list-group-item">
            <div class="goal-title">{{goal.title}}</div>
            <div class="goal-start-date">Started: {{goal.startDate}}</div>
            <div></div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="getProgress(i)"
                    [attr.aria-valuenow]="getProgress(i)" aria-valuemin="0" aria-valuemax="100">
                    {{getProgress(i)}}%
                </div>
            </div>
            <hr>
        </li>
    </div>
    <!-- Progress-summary -->
    <div class="summary-section col ms-0 me-3">
        <h1 class="summary-section-title">
            Progress Summary
        </h1>
        <div class="all-time-totals">
            <h1 class="all-time-totals-title">All-Time Totals</h1>
            <div class="summary-metric-row d-flex justify-content-between">
                <div class="summary-metric">
                    <h2 class="summary-metric-title">Total Distance</h2>
                    <p>{{allTimeDistance}}km</p>
                </div>
                <div class="summary-metric">
                    <h2 class="summary-metric-title">Total Elevation</h2>
                    <p>{{allTimeDistance}} km</p>
                </div>
            </div>
        </div>
    </div>
</div>

